<!DOCTYPE html>
<html lang="en">
<head>
  <title>{#insert title}LangChain4j Newsletter Generator{/}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/_static/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/_static/bootstrap-icons/font/bootstrap-icons.css">
  <script src="/_static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked@9.1.2/marked.min.js"></script>
</head>
<body>
<div class="container mt-5">
  {#insert body}Default Content{/}
</div>
</body>
</html>
